.header {
    height: 75px;
}
.nav {
    padding: 32px;
}
.wrapper {
    background-color: #dadbf1;
    color: black;
    height: 350px;
    display: grid;
    place-content: center;
    gap: 8px;
}

.input {
    background-color: white;
    color: black;
    padding: 8px;
    border: 1px solid hsl(0 100% 100% / 0.1);
    border-radius: 2px;
}
.footer {
    display: flex;
    justify-content: space-around;
    padding: 32px;
}

.main {
    
    padding-block: 64px;
    padding-inline: 32px;
    background-color: white;
    color: black;
    /* flex-wrap: wrap; */
    
}
.mainWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-inline: 32px;
    flex-wrap: wrap;
}
.mainWrapper div {
    max-width: 250px;
    margin: auto;
}
@media (max-width: 670px) {
    .footer {
        flex-direction: column;
        /* justify-content: center; */
        align-items: baseline;
        gap: 16px;
    }
}

